* {
    margin: 0px;
    padding: 0px;
    font-family: 'Playfair Display', serif;
}


.navbar {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #270082;
    height: 110px;
    color: white;
}

.name {
    color: rgb(255, 255, 255);
    font-size: 42px;
    background-color: #270082;
    padding-top: 25px;
    left: 90px;
    position: relative;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #270082;
}

li {
    float: right;
    display: inline;
}

li a {
    display: block;
    color: rgba(255, 255, 255, 0.805);
    text-align: center;
    padding: 40px 60px;
    text-decoration: none;
    font-size: 22px;
}

li a:hover {
    background-color: #6b70ff6e;
    color: white;
    transition-duration: 0.6s;

}

.container {
    height: 70vh;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 60% 40%;
}

.info {
    color: #070759;
    font-size: 40px;
    top: 130px;
    left: 110px;
    position: relative;

}

.info1 {
    color: #070759;
    font-size: 20px;
    top: 180px;
    left: 110px;
    position: relative;

}

.img {
    position: relative;
    height: 370px;
    width: 460px;
    top: 10%;
    left: -60px;
}

.hire {
    background-color: #7b0bc082;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 13px 24px;
    border-radius: 9px;
    top: 240px;
    left: 110px;
    position: relative;
    display: inline;
}

.hire:hover {
    background-color: #1A1A40;
    color: #ffffff;
    border: 0px;
    font-size: 24px;
    padding: 20px 38px;
    transition-duration: 0.5s;
}

.resume {
    background-color: #7b0bc082;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 13px 24px;
    border-radius: 9px;
    top: 240px;
    left: 200px;
    position: relative;
}

.resume:hover {
    background-color: #1A1A40;
    color: #ffffff;
    border: 0px;
    font-size: 24px;
    padding: 20px 38px;
    transition-duration: 0.5s;
}

.box {
    width: 80%;
    height: 100vh;
    background-color: #270082;
    display: inline;
    position: relative;
}

.aboutme {
    position: relative;
    width: 85%;
    height: 100%;
    background-color: #7b0bc082;
    top: 14%;
    left: 7%;
    box-shadow: 0px 0px 25px #040b6063;
    display: grid;
    grid-template-columns: 40% 60%;
}

.img2 {
    height: 500px;
    background-color: #270082;
}

.aboutinfo {
    height: 100%;
    background-color: #270082;
    display: grid;
    grid-template-rows: 65% 35%;
}

.aboutinfo1 {
    background-color: #270082;
}

.icons {
    position: relative;
    width: 85%;
    height: 70%;
    background-color: rgb(255, 255, 255);
    top: 13%;
    left: 7%;
    box-shadow: 0px 0px 30px #00000029;
    border-radius: 20px;
}

.img3 {
    height: 440px;
    width: 400px;
    margin-top: 25px;
    margin-left: 60px;
}

.info2 {
    color: #070759;
    font-size: 50px;
    margin-left: 225px;
    margin-top: 10px;
    /* position: relative; */
}

.info3 {
    position: relative;
    top: 40px;
    font-size: 20px;
    margin-right: 7px;
    color: white;
}


.info4 {
    position: relative;
    top: 10px;
    left: 15px;
    font-size: 17.5px;
    margin-right: 7px;
}

.icon {
    position: relative;
    height: 50px;
    width: 50px;
    top: 30px;
    left: 60px;
    margin-right: 25px;
}

.portfolio {
    background-color: #fff;
    /* display: block; */

}

.info5 {
    color: #070759;
    font-size: 40px;
    position: relative;
    top: 100px;
    text-align: center;
    justify-content: center;
}

.info6 {
    position: relative;
    top: 150px;
    margin-left: 100px;
    margin-bottom: 70px;
}




